@page "/"

@using fasito.Models  
@using fasito.Services

<h1>Fasito Donations</h1>

<div class="donation-container">
    <h1>Regalame un fasito wachx!</h1>
    <p>Cobramos comision mínima, el 98% va directo a nuestros usuarios!😎</p>
    
    <div class="donation-form">
        <label for="name">Your Name:</label>
        <input type="text" id="name" placeholder="Developed by Nexxus67" />
        
        <label for="amount">Donation Amount:</label>
        <input type="number" id="amount" placeholder="50" />
        
        <button class="donate-btn" @onclick="SubmitDonation">Donate</button>
    </div>
</div>

@inject DonationService DonationService

@code {
    private Donation donation = new Donation();

    private void SubmitDonation()
    {
        @* DonationService.AddDonation(donation); *@
        donation = new Donation();
    }
}